<div ng-controller="textBlockController as main"  class = "draggable handle"
     style = "position: absolute; z-index: {{info.zindex}}; padding: 0; top :{{info.top}}; left: {{info.left}};
        width: {{info.width}}; height: {{info.height}}; -webkit-transform: {{info.transform}};-moz-transform: {{info.transform}};
        -ms-transform: {{info.transform}};-o-transform: {{info.transform}};transform: {{info.transform}}; padding: 0px;"

     ng-click = "click(!$dragged && !$resized && !$rotated, $dropmodel)"
     dnd-draggable-opts = "{layer: 'layer1'}"
     dnd-draggable = "true"
     dnd-on-dragend = "main.setResizedData(main.thisBlock.top,main.thisBlock.left,main.thisBlock.width,main.thisBlock.height,main.thisBlock.transform)"

     dnd-rotatable = "true"
     dnd-on-rotateend = "main.setResizedData(main.thisBlock.top,main.thisBlock.left,main.thisBlock.width,main.thisBlock.height,main.thisBlock.transform)"

     dnd-resizable = "true"
     dnd-on-resizeend = "main.setResizedData(main.thisBlock.top,main.thisBlock.left,main.thisBlock.width,main.thisBlock.height,main.thisBlock.transform)"

     dnd-containment = "'.dnd-container'"

     dnd-rect = "main.thisBlock"
     >
    <textarea ng-model="info.info" class="form-control" style="height:100%; width: 100%; resize: none; font-size: {{info.fontSize}};"></textarea>
    <button style=" opacity: {{opacityFont}}; position: absolute;top:0px; right:0px;width: 20px; height: 20px; padding: 0px;" ng-click="deleteItem()" class="btn btn-danger glyphicon glyphicon-remove"
            ng-mouseenter="opacityFont=1"; ng-mouseleave="opacityFont = 0"></button>
    <input placeholder={{info.fontSize}} class="form-control" type="number" ng-model="fontSize" ng-change="main.changeFontSize()" style=" position: absolute;
        width: 50px; height: 30px; padding:0px; top:80%; left:100%; opacity: {{opacityFont}};"
        ng-mouseenter="opacityFont=1"; ng-mouseleave="opacityFont = 0">
    <button ng-click="upBlock()" style=" position: absolute;
        width: 50px; height: 30px; padding:0px; top:0%; left:100%; opacity: {{opacityFont}}"; class="glyphicon glyphicon-circle-arrow-up btn btn-default"
         ng-mouseenter="opacityFont=1"; ng-mouseleave="opacityFont = 0">Up</button>
    <button ng-click="downBlock()" class="glyphicon glyphicon-circle-arrow-down btn btn-default"  style=" position: absolute;
        width: 50px; height: 30px; padding:0px; top:30px; left:100%; opacity: {{opacityFont}}";
         ng-mouseenter="opacityFont=1"; ng-mouseleave="opacityFont = 0">Down</button>
</div>